/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwOIpWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwOIpWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    min-width: 320px;
    background-color: #fff;
    color: #777;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

#main {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}

.header h1 {
    font-size: 300%;
    font-weight: 100;
    margin: 0;
}

.header h2 {
    font-size: 125%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    color: #666;
    letter-spacing: -0.02em;
}

.content {
    margin: 2em 0;
}

.prod-item {
    padding: 5em 0;
    border-bottom: 1px solid #eee;
}

.prod-item-left,
.prod-item-right {
    padding: 0 10px;
}

.prod-item-head {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

.footer {
    font-size: 87.5%;
    background: rgb(250, 250, 250);
    text-align: center;
}

.layout-item-modules {
    padding: 0;
}

.layout-item-module {
    margin-right: 0.5714em;
    font-size: 0.875em;
}

.layout-item-module-base a {
    border-left: 3px solid rgb(14, 144, 210);
}

.layout-item-module-grids a {
    border-left: 3px solid rgb(128, 88, 165);
}

.layout-item-module-forms a {
    border-left: 3px solid rgb(94, 185, 94);
}

.layout-item-module-buttons a {
    border-left: 3px solid rgb(221, 81, 76);
}

.layout-item-module-tables a {
    border-left: 3px solid rgb(243, 123, 29);
}

.layout-item-module-menus a {
    border-left: 3px solid rgb(250, 210, 50);
}

.layout-item-module a:link,
.layout-item-module a:visited {
    text-transform: capitalize;
    color: rgb(75, 75, 75);
    padding: 0 0.5714em;
    line-height: 1.75;
    display: block;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}